{% extends "base.html.twig" %}

{% block title %}Portfolio - Accueil
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid mt-4">
		<div class="container">
			<h1 class="display-4">Créations de l'artiste</h1>
			<p class="lead">Découvrez ici les dernières créations</p>
		</div>
	</div>
	{% block cards %}
		{% include "partials/_cards.html.twig" %}
	{% endblock %}
{% endblock %}
